* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

button, input[type=submit] {
    cursor: pointer;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-menu {
    width: 100%;
    height: 100px;
    background: wheat;
}

/** login page **/
/*background: #c8c8c8;*/

.login-wrap {
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 670px;
    position: relative;
    font: 600 16px/18px 'Open Sans', sans-serif;
    color: #6a6f8c;
    background: url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.login-html {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 30px 70px 0 70px;
    background: rgba(40, 57, 101, 0.9);
}

.login-html .sign-in-htm,
.login-html .sign-up-htm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all 0.4s linear;
}

.error-highlight {
    color: #f52d2d;
    font-size: 12px;
}

.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
    display: none;
}

.login-html .tab,
.login-form .group .group-label,
.login-form .group .accept-form-button {
    text-transform: uppercase;
}

.login-html .tab {
    font-size: 22px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
    color: #fff;
    border-color: #1161ee;
}

.login-form {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.login-form .group {
    margin-bottom: 15px;
}

.login-form .group .group-label,
.login-form .group .form-input,
.login-form .group .accept-form-button {
    width: 100%;
    color: #fff;
    display: block;
    outline: none;
}

.login-form .group .form-input,
.login-form .group .accept-form-button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255,255,255,.1);
}

.login-form .group .group-label {
    color: #aaa;
    font-size: 12px;
}

.login-form .group .accept-form-button {
    background: #1161ee;
}

.login-form .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255,255,255,.1);
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all .2s ease-in-out 0s;
}

.login-form .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0);
}

.login-form .group .check:checked + label {
    color: #fff;
}

.login-form .group .check:checked + label .icon {
    background: #1161ee;
}

.login-form .group .check:checked + label .icon:before {
    transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked + label .icon:after {
    transform: scale(1) rotate(-45deg);
}

.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm {
    transform: rotate(0);
}

.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
    transform: rotate(0);
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255,255,255,.2);
}
.foot-lnk {
    text-align: center;
}

/** not found page **/

#notfound {
    position: relative;
}

.notfound {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    text-align: center;
}

.notfound .notfound-code {
    height: 300px;
    position: relative;
    z-index: -1;
}

.notfound .notfound-code h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 230px;
    margin: 0;
    font-weight: 900;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-image: url('../img/error.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.notfound h2 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
}

.notfound p {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0;
}

.notfound a {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: #0046d5;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 40px;
    color: #fff;
    font-weight: 700;
    -webkit-box-shadow: 0 4px 15px -5px #0046d5;
    box-shadow: 0 4px 15px -5px #0046d5;
}


@media only screen and (max-width: 760px) {
    .notfound .notfound-code {
        height: 142px;
    }
    .notfound .notfound-code h1 {
        font-size: 112px;
    }
}
