* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    position: relative;
}

a {
    color: inherit;
    text-decoration: none;
}

button, input[type=submit] {
    cursor: pointer;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.header-nav-links li {
    display: inline-block;
    padding: 10px;
}

.header-nav-links li a {
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header-nav-links li a:hover {
    color: #0088a9;
}

.sign-in-btn {
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 35px;
    color: #dbd1d1;
    padding: 10px 30px;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 150px;
}

.sign-in-btn:hover {
    background-color: rgba(0, 136, 169, 0.8);
    color: #3c3a3a;
}

.header-sign {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.language-selector {
    cursor: pointer;
    margin-left: 20px;
    margin-right: 10px;
    position: relative;
}

.language-selector-nav::after {
    box-shadow: -2px 2px 0 black;
    content: "";
    display: block;
    height: 10px;
    top: 0;
    right: -15px;
    bottom: 0;
    position: absolute;
    width: 10px;
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}

.language-selector:hover .language-list {
    display: block;
}

.language-selector:hover .language-selector-nav::after {
    box-shadow: 2px -2px 0 black;
}

.language-list {
    background-color: #1d2fc1;
    color: white;
    display: none;
    position: absolute;
    transition: all 0.5s ease 0s;
    border-radius: 5px;
}

.selected-language {
    background-color: #ec5e26;
}

.language-list li {
    padding: 10px;
}

.language-list>li:first-child {
    border-radius: 5px 5px 0 0;
}

.language-list>li:last-child {
    border-radius: 0 0 5px 5px;
}

.language-list li:hover {
    background-color: #ec5e26;
}

#root {
    flex: 1 1 800px;
    -webkit-flex: 1 1 800px;
}

.plays-content-wrapper {
    width: 100%;
}

.plays-list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
}

.play-item {
    margin: 25px 0;
}

.play-dates-list>li {
    display: inline-block;
}

.play-dates-list>li:not(:first-child) {
    background-color: #ffcd9f;
    border-radius: 5px;
    position: relative;
}

.play-dates-list a {
    display: block;
    padding: 5px;
}

.h-item {
    font-style: italic;
}

.footer-menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.copyright span {
    font-style: oblique;
    font-size: 14pt;
}

.copyright .copy-sign {
    display: inline-block;
    transition: all 0.5s ease 0s;
}

.copyright:hover .copy-sign {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.user-profile-menu {
    position: relative;
}

.profile-menu-list {
    display: none;
    width: 150px;
    height: 100px;
    padding-top: 40px;
    position: absolute;
    top: 0;
}

.profile-menu-list li {
    padding: 10px 5px;
    text-align: center;
    background-color: #00FFFF;
}

.profile-menu-list li:first-child {
    border-radius: 5px 5px 0 0;
}

.profile-menu-list li:last-child {
    border-radius: 0 0 5px 5px;
}

.profile-menu-list li:hover {
    background-color: #fff;
}

.user-profile-menu:hover .profile-menu-list {
    display: block;
}

/** PlayOrder page **/



/** login page **/
/*background: #c8c8c8;*/

.login-wrap {
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 670px;
    position: relative;
    font: 600 16px/18px 'Open Sans', sans-serif;
    color: #6a6f8c;
    background: url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.login-html {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 30px 70px 0 70px;
    background: rgba(40, 57, 101, 0.9);
}

.login-html .sign-in-htm,
.login-html .sign-up-htm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all 0.4s linear;
}

.error-highlight {
    color: #f52d2d;
    font-size: 12px;
}

.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
    display: none;
}

.login-html .tab,
.login-form .group .group-label,
.login-form .group .accept-form-button {
    text-transform: uppercase;
}

.login-html .tab {
    font-size: 22px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
    color: #fff;
    border-color: #1161ee;
}

.login-form {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.login-form .group {
    margin-bottom: 15px;
}

.login-form .group .group-label,
.login-form .group .form-input,
.login-form .group .accept-form-button {
    width: 100%;
    color: #fff;
    display: block;
    outline: none;
}

.login-form .group .form-input,
.login-form .group .accept-form-button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255,255,255,.1);
}

.login-form .group .group-label {
    color: #aaa;
    font-size: 12px;
}

.login-form .group .accept-form-button {
    background: #1161ee;
}

.login-form .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255,255,255,.1);
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all .2s ease-in-out 0s;
}

.login-form .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0);
}

.login-form .group .check:checked + label {
    color: #fff;
}

.login-form .group .check:checked + label .icon {
    background: #1161ee;
}

.login-form .group .check:checked + label .icon:before {
    transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked + label .icon:after {
    transform: scale(1) rotate(-45deg);
}

.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm {
    transform: rotate(0);
}

.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
    transform: rotate(0);
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255,255,255,.2);
}
.foot-lnk {
    text-align: center;
}

/** not found page **/

#notfound {
    position: relative;
}

.notfound {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    text-align: center;
}

.notfound .notfound-code {
    height: 300px;
    position: relative;
    z-index: -1;
}

.notfound .notfound-code h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 230px;
    margin: 0;
    font-weight: 900;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-image: url('../img/error.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.notfound h2 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
}

.notfound p {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0;
}

.notfound a {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: #0046d5;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 40px;
    color: #fff;
    font-weight: 700;
    -webkit-box-shadow: 0 4px 15px -5px #0046d5;
    box-shadow: 0 4px 15px -5px #0046d5;
}


@media only screen and (max-width: 760px) {
    .notfound .notfound-code {
        height: 142px;
    }
    .notfound .notfound-code h1 {
        font-size: 112px;
    }
}

.progress-loader {
    display: none;
    background-color: rgba(77, 77, 95, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

.progress {
    position: relative;
    color: #808080;
    font-size: 60pt;
    letter-spacing: 5px;
    text-transform: uppercase;
    border-bottom: 10px solid #808080;
}

.progress::before {
    animation: loading 4s infinite linear;
    color: #00FFFF;
    content: "Loading...";
    position: absolute;
    border-bottom: 10px solid #00FFFF;
    top: 0;
    left: 0;
    overflow: hidden;
}

@keyframes loading {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}